body {
		font-family: "Varela Round", Arial, Helvetica, sans-serif;
		text-align: center;
		background: url(imagenes/1.jpg) no-repeat center center fixed;
		font-size: 20px;
		color: white;
		margin: 120px auto 0 auto;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.center {
		margin: auto;
		width: 40%;
		padding: 10px;
	}
	#formularioLogin {
		border: 4px dotted #a1a1a1;
		padding: 10px 100px;
		background: transparent;
		width: 350px;
		border-radius: 35px;
		text-align: center;
		background-repeat: 
	}
	#usuario {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 2px solid white;
		border-radius: 4px;
	}
	#contrasena {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 2px solid white;
		border-radius: 4px;
	}
	.button {
		border-radius: 8px;
		box-shadow: 0 16px 21px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		font-size: 20px;
		padding: 6px 10px;
	}
	a{
	    color: #40afc5;
	}